
<link href="/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/all.min.css" rel="stylesheet">

<link href="/css/owl.carousel.min.css" rel="stylesheet">

<link href="/css/slabtext.css" rel="stylesheet">

<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<script src="/js/jquery.min.js" type="text/javascript"></script>

<script src="/js/popper.min.js" type="text/javascript"></script>

<script src="/js/three.min.js" type="text/javascript"></script>

<script src="/js/scrollme.js" type="text/javascript"></script>

<script src="/js/wow.min.js" type="text/javascript"></script>

<script src="/js/owl.carousel.min.js" type="text/javascript"></script>

<script src="/js/carousel.js" type="text/javascript"></script>

<script src="/js/baguetteBox.min.js" type="text/javascript"></script>

<script src="/js/jquery.slabtext.min.js" type="text/javascript"></script> 

<link href="/css/solid.css" rel="stylesheet">

<link href="/css/animate.css" rel="stylesheet">    

<link href="/css/fontawesome.min.css" rel="stylesheet">   

<link href="/css/baguetteBox.min.css" rel="stylesheet">   

<link href="/css/main.css" rel="stylesheet">
</body>
</html>