<% include partials/header.ejs %>
<script src="/js/login.js" type="text/javascript"></script>
<div class="overlay">
    <div class="arrow bounce" id="arr">
        <i class="fas fa-chevron-circle-down"></i>
    </div>
</div>
<% include partials/navb.ejs %>

<% include partials/navbar.ejs %>

<section>
    <div class="topinfo">
        <div class="sinfo">
            <p id="about">
                <br>
                <h1 style="text-align: center;"><strong>About Us</strong></h1>
                <hr />
                <br>
                <h3 style="text-align: center;"><strong>
                        This Website is build by Rithik Sachdev.The aim of the website is to provide top 10 trending
                        news, help citizens of india learn about politics, collect data about the current interest of
                        citizens and accordingly predict the results.
                        <br>
                        (The result prediction is currently under development)
                    </strong>
                </h3>
            </p>
            <br>
            <br>
            <section id="team">
                <div class="container my-3 py-5 text-center">
                    <div class="row mb-5">
                        <div class="col">
                            <h2><strong>NATIONAL PARTIES CONTESTING FOR THESE ELCETIONS</strong></h2>
                            <p>You can follow the election agenda of these parties</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="card" id="bjp">
                                <div class="card-body">
                                    <img src="/img/bjp.png" alt="" class="img-thumbnail rounded-circle h-20 w-50 mb-3">
                                    <h3>Bhartiya Janta Party</h3>
                                    <h5>Aache din aaenge</h5>
                                    <p> The prime focus is to build ram mandir and try to pretend that we are creating
                                        jobs or a better country.</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card" id="inc">
                                <div class="card-body">
                                    <img src="/img/inc.png" alt="" class="img-thumbnail rounded-circle h-20 w-50 mb-3">
                                    <h3>National Congress</h3>
                                    <h5>Farmers will live again</h5>
                                    <p>The prime focus is growth of farmers and complain about the rafale deal all day
                                        everyday.</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card" id="aap">
                                <div class="card-body">
                                    <img src="/img/aap.jpg" alt="" class="img-thumbnail rounded-circle h-20 w-50 mb-3">
                                    <h3>AAM AADMI PARTY</h3>
                                    <h5>Odd even will solve delhi pollition.</h5>
                                    <p>The pollution is not a concern for us because we did nothin in our five years
                                        about us.</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card" id="bsp">
                                <div class="card-body">
                                    <img src="/img/bsp.jpg" alt="" class="img-thumbnail rounded-circle w-50 h-20 mb-3">
                                    <h3>BAHUJAN SAMAJ PARTY</h3>
                                    <h5>We are always here for gadbandhan but only on our terms.</h5>
                                    <p>We don't have any agendy just here for money</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <br>
            <hr />
            <br>
            <section id=slbr style="padding-bottom: 2em;">
                <div class="owl-carousel owl-theme">

                    <div class="item"><img src="/img/modi.jpg">
                        <div class="caption">
                            <h5 class="animated pulse">"The number of growing women Entrepreneurs is a blessing for us"
                            </h5>
                        </div>
                    </div>
                    <div class="item"><img src="/img/rahul.jpg">
                        <div class="caption">
                            <h5 class="">"Meri murgi sone ka anda degi"</h5>
                        </div>
                    </div>

                    <div class="item"><img src="/img/amit.jpg">
                        <div class="caption">
                            <h5 class="">"Kashmir is an integral part of India, and nobody can take it away from us"
                            </h5>
                        </div>
                    </div>

                    <div class="item"><img src="/img/shashiji.jpg">
                        <div class="caption">
                            <h5 class="">"I'm not a techno-determinist. I believe we need to improve our existing human
                                resources,
                                and technology can only be a complement"</h5>
                        </div>
                    </div>


                    <div class="item"><img src="/img/shiv.jpg">
                        <div class="caption">
                            <h5 class="">"The seven crore people of M.P are my family"</h5>
                        </div>
                    </div>


                    <div class="item"><img src="/img/kamal.jpg">
                        <div class="caption">
                            <h5 class="">"I am not hungry for post, I am hungry for development"</h5>
                        </div>
                    </div>

                </div>
            </section>
            <br>
            <hr>
            <section style="padding-top: 2em;" id="contact">
                <div class='wrapper animated bounceInLeft' id="wrapper">
                    <div class='company-info'>
                        <h3>Rithik Sachdev</h3>
                        <ul>
                            <li><i class="fa fa-road"></i> 86, Sarthak Residency
                                Indore, Madhya Pradesh 452003 India </li>

                            <li><i class="fa fa-phone"></i><strong> Mr. Rithik Sachdev (Developer)</strong>:
                                1234567891 </li>
                            <li><i class="fa fa-envelope"></i> rithiksachdev3@gmail.com</li><br>
                            <br>
                            <p>
                                <strong>Follow Us</strong></p>
                            <a href="#" class="icon-button linkedin"><i
                                    class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
                            <a href="#" class="icon-button facebook"><i
                                    class="icon-facebook fab fa-facebook-f"></i><span></span></a>
                            <a href="#" class="icon-button youtube"><i
                                    class="icon-youtube fab fa-youtube"></i><span></span></a>
                            <a href="#" class="icon-button instagram"><i
                                    class="icon-instagram fab fa-instagram"></i><span></span></a>
                        </ul>
                    </div>
                    <div class='contact'>
                        <h3>Email Us</h3>
                        <form method="POST" action="/">
                            <p>
                                <label>Name</label>
                                <input type="text" name='name' style="color: black;">
                            </p>

                            <p>
                                <label>Subject</label>
                                <input type="text" name='subject' style="color: black;">
                            </p>

                            <p>
                                <label>Email Adress</label>
                                <input type="email" name='email' style="color: black;">
                            </p>

                            <p>
                                <label>Phone Number</label>
                                <input type="text" name='phone' style="color: black;">
                            </p>

                            <p class='full'>
                                <label>Message</label>
                                <textarea name="message" rows="5" style="color: black;"></textarea>
                            </p>

                            <p class='full'>
                                <button onclick="message()">Submit</button>
                            </p>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<br>
<br>
<br>

<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>


<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDApA3Zn0qE8he4DW5GRw0Vo_m7hXP3QJQ",
        authDomain: "votify-5c0a0.firebaseapp.com",
        databaseURL: "https://votify-5c0a0.firebaseio.com",
        projectId: "votify-5c0a0",
        storageBucket: "votify-5c0a0.appspot.com",
        messagingSenderId: "955581230081",
        appId: "1:955581230081:web:b56f87450bb461ff9b6400",
        measurementId: "G-8W97CPCNQN"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
<% include partials/footer.ejs %>